fastapi
uvicorn
gunicorn
sqlalchemy
pymysql
cryptography
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
slowapi
pydantic
pydantic-settings
jinja2
pandas
pdfplumber
openpyxl
requests
razorpay
bcrypt
email-validator
